In [1]:
import pandas as pd
import numpy as np

In [2]:
dates=pd.date_range("20170827", periods=6)
dates

DatetimeIndex(['2017-08-27', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31', '2017-09-01'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df=pd.DataFrame(np.random.randn(6,4),index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2017-08-27 -0.834234 -0.582354 -0.390304 -0.656665
2017-08-28  0.996778  1.259862 -1.252032  0.447227
2017-08-29  0.117388 -1.028278 -0.410780 -1.359431
2017-08-30  0.191098  0.467007 -1.929012 -0.211370
2017-08-31 -0.931068 -1.472866 -1.108666  0.126831
2017-09-01  0.369379  0.485766 -1.146984  0.373964